div.flow-research {
    display: flex;
    justify-content: start;
    width: 100%;;
    input {
        border: none;
        height: 35px;
        border-radius: 2.5px;
        width:100%;
        padding-left: 12px;
    }
}